<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE tv SYSTEM "xmltv.dtd">

<tv source-info-url="http://www.schedulesdirect.org/" source-info-name="Schedules Direct" generator-info-name="XMLTV/$Id: tv_grab_na_dd.in,v 1.70 2008/03/03 15:21:41 rmeden Exp $" generator-info-url="http://www.xmltv.org/">
  {{#channels}}
  <channel id="{{ id }}">
    <display-name>{{ name }}</display-name>
  </channel>
  {{/channels}}
  {{#channels}}
    {{#programmes}}
    <programme id="{{ id }}" start="{{ dateTimeStart }}" stop="{{ dateTimeEnd }}" channel="{{ id }}">
      <title lang="en">{{ name }}@{{ hourStr }}</title>
      <desc lang="en">24/7</desc>
    </programme>
    {{/programmes}}
  {{/channels}}
</tv>
